/* Contenedor principal que organiza la calculadora y el sidebar */
.calculator-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacio entre la calculadora y el sidebar */
  max-width: 1000px;
  margin: 0 auto;
}

.calculator-history ul {
  max-height: 300px;
  overflow-y: auto;
}


/* Estilos de la calculadora */
.calculator {
  width: 400px;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para la pantalla de la calculadora (display) */
.calculator-display {
  height: 70px;
  background-color: #222;
  color: #fff;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

/* Estilos para los botones de la calculadora */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  font-size: 1.5em;
  padding: 15px;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 90px; /* Ajusta el ancho de los botones normales */
  height: 90px; /* Ajusta la altura de los botones normales */
}

.button:hover {
  background-color: #555;
}

.number {
  background-color: #666;
}

.operator {
  background-color: #f05c00;
}

.operator:hover {
  background-color: #f05c00;
}

/* Estilos para el área del historial y los botones */
.calculator-sidebar {
  width: 300px; /* Tamaño fijo para el sidebar */
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Espacio entre el historial y los botones */
}

/* Estilos para el historial */
.calculator-history {
  background-color: #222;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  font-size: 0.9em;
  width: 100%; /* Asegura que el historial ocupe todo el ancho disponible */
}

.calculator-history h3 {
  margin-top: 0;
}

.calculator-history ul {
  list-style-type: none;
  padding: 0;
}

.calculator-history li {
  margin-bottom: 5px;
}

/* Botones de Imprimir y Exportar */
.button-print,
.button-export {
  width: 160px;
  height: 70px;
  font-size: 2em;
  border-radius: 5px;
  background-color: #f05c00; /* Color de fondo para el botón de imprimir */
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button-print:hover,
.button-export:hover {
  background-color: #f05c00;
}

/* Estilo del botón de previsualización */
.button-preview {
  width: 210px;
  height: 70px;
  font-size: 2em;
  border-radius: 5px;
  background-color: #008CBA; /* Color azul */
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
}

.button-preview:hover {
  background-color: #007B9E; /* Color azul más oscuro */
}
